{% extends "layout.html" %}

{% block headContent %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3QHzfFYPUfeiehgnVZaWqFUYQ3cPnNX8&sensor=true"></script>

{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div id="days-container">
        <!-- populated by daysView -->
        </div>
      </div>

      <div class="col-md-8">
        <div class="row top-row">
          <!-- populated by ActivitiesView -->
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3 col-sm-4 col-xs-12 day-view">
      <!-- populated by DayView -->
      </div>

      <div class="col-md-9 col-sm-8 col-xs-12">
        <div id="mapView"></div>
        <!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284" id="mapView"></img> -->
      </div>

    </div>
  </div>

<script>
  {% autoescape false %}
    var data = {
      hotel: {{ hotels | json }},
      thing: {{ thingsToDo | json }},
      restaurant: {{ restaurants | json }},
      day: {{ days | json }}
    }
  {% endautoescape %}
</script>
<script src="/js/maps.js"></script>
<!-- <script src="/js/trip.js"></script> -->
<script src="/js/models/activity.js"></script>
<script src="/js/models/day.js"></script>
<script src="/js/models/days.js"></script>
<script src="/js/views/activity.js"></script>
<script src="/js/views/activities.js"></script>
<script src="/js/views/day.js"></script>
<script src="/js/views/days.js"></script>
<script src="/js/views/dayBtn.js"></script>

<script>
  var init = function () {
    var daysView = new DaysView();
  };

  init();
</script>
{% endblock %}
