{% extends "layout.html" %}

{% block headContent %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3QHzfFYPUfeiehgnVZaWqFUYQ3cPnNX8&sensor=true"></script>

{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="btn-group" id="days-list">
        </div>
        <button type="button" class="btn btn-default" id="addDay">+ Add Day</button>
      </div>

      <div class="col-md-8">
        <div class="row">

          <div class="col-sm-4 col-xs-12">
            <form role="form" class="tp-form">
              <label for="hotel-menu">Hotels</label>
              <div class="row">

                <div class="col-xs-9">
                  <select name="hotel-menu" id="hotel-menu" class="form-control">
                  </select>
                </div>

                <div class="col-xs-3">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>

              </div>
            </form>
          </div>

          <div class="col-sm-4 col-xs-12">
            <form role="form" class="tp-form">
              <label for="things-menu">Things to Do</label>
              <div class="row">

                <div class="col-xs-9">
                  <select name="things-menu" id="things-menu" class="form-control">
                  </select>
                </div>

                <div class="col-xs-3">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>

              </div>
            </form>
          </div>

          <div class="col-sm-4 col-xs-12">
            <form role="form" class="tp-form">
              <label for="restaurant-menu">Restaurants</label>
              <div class="row">

                <div class="col-xs-9">
                  <select name="restaurant-menu" id="restaurant-menu" class="form-control">
                  </select>
                </div>

                <div class="col-xs-3">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>

              </div>
            </form>
          </div>

        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3 col-sm-4 col-xs-12">
        <h2 id="day-title">Plan for Day X</h2>
        <ul class="list-unstyled">
          <li>
            <h3>Hotel</h3>
            <ul id="day-hotel">
            </ul>
          </li>
          <li>
            <h3>Things to Do</h3>
            <ul id="day-things">
            </ul>
          </li>
          <li>
            <h3>Restaurants</h3>
            <ul id="day-restaurants">
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-md-9 col-sm-8 col-xs-12">
        <div id="mapView"></div>
        <!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284" id="mapView"></img> -->
      </div>

    </div>
  </div>

<script>
  {% autoescape false %}
    var all_hotels = {{ hotels | json }};
    var all_restaurants = {{ restaurants | json }};
    var all_things_to_do = {{ thingsToDo | json }};
  {% endautoescape %}
</script>
<script src="/js/maps.js"></script>
<script src="/js/trip.js"></script>

{% endblock %}
