{% extends "layout.html" %}

{% block headContent %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3QHzfFYPUfeiehgnVZaWqFUYQ3cPnNX8&sensor=true"></script>

{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="btn-group">
          <button type="button" class="btn btn-default">Day 1</button>
          <button type="button" class="btn btn-default">Day 2</button>
          <button type="button" class="btn btn-default">Day 3</button>
        </div>
        <button type="button" class="btn btn-default">+ Add Day</button>
      </div>

      <div class="col-md-8">
        <div class="row">

          <div class="col-sm-4 col-xs-12">
            <form role="form" class="tp-form">
              <label for="hotel-menu">Hotels</label>
              <div class="row">

                <div class="col-xs-9">
                  <select name="hotel-menu" id="hotel-menu" class="form-control">
                  </select>
                </div>

                <div class="col-xs-3">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>

              </div>
            </form>
          </div>

          <div class="col-sm-4 col-xs-12">
            <form role="form" class="tp-form">
              <label for="things-menu">Things to Do</label>
              <div class="row">

                <div class="col-xs-9">
                  <select name="things-menu" id="things-menu" class="form-control">
                  </select>
                </div>

                <div class="col-xs-3">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>

              </div>
            </form>
          </div>

          <div class="col-sm-4 col-xs-12">
            <form role="form" class="tp-form">
              <label for="restaurant-menu">Restaurants</label>
              <div class="row">

                <div class="col-xs-9">
                  <select name="restaurant-menu" id="restaurant-menu" class="form-control">
                  </select>
                </div>

                <div class="col-xs-3">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>

              </div>
            </form>
          </div>

        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3 col-sm-4 col-xs-12">
        <h2>Plan for Day 1</h2>
        <ul>
          <li>
            <h3>Hotel</h3>
            <ul class="list-unstyled">
              <li>Hotel 1</li>
            </ul>
          </li>
          <li>
            <h3>Things to Do</h3>
            <ul class="list-unstyled">
              <li>Thing 1</li>
              <li>Thing 2</li>
              <li>Thing 3</li>
            </ul>
          </li>
          <li>
            <h3>Restaurants</h3>
            <ul class="list-unstyled">
              <li>Restaurant 1</li>
              <li>Restaurant 2</li>
              <li>Restaurant 3</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-md-9 col-sm-8 col-xs-12">
        <div id="mapView"></div>
        <!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284" id="mapView"></img> -->
      </div>

    </div>
  </div>

<script>

{% autoescape false %}
  var all_hotels = {{ hotels | json }};
  var all_restaurants = {{ restaurants | json }};
  var all_things_to_do = {{ thingsToDo | json }};
{% endautoescape %}

var $hotelSelect = $("#hotel-menu");
var $thingSelect = $("#things-menu");
var $restaurantSelect = $("#restaurant-menu");

all_hotels.forEach(function(hotel) {
  $hotelSelect.append("<option>" + hotel.name + "</option>");
});
all_things_to_do.forEach(function(thing) {
  $thingSelect.append("<option>" + thing.name + "</option>");
});
all_restaurants.forEach(function(cafe) {
  $restaurantSelect.append("<option>" + cafe.name + "</option>");
});

var $hotelAdd = $hotelSelect.parent().next().children();
$hotelAdd.click( function (e) {
  e.preventDefault()
  console.log('hotel');
});
var $thingAdd = $thingSelect.parent().next().children();
$thingAdd.click( function (e) {
  e.preventDefault()
  console.log('thing');
});
var $cafeAdd = $restaurantSelect.parent().next().children();
$cafeAdd.click( function (e) {
  e.preventDefault()
  console.log('cafe');
});

</script>

<script src="/js/maps.js"></script>

{% endblock %}
